body {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header{
    background-color:#E0D8B0;
}
.page-menu{
    background-color: #FCFFE7;
    text-align: center;
    font-family: Roboto Mono;
    font-weight: 600;
    text-transform: uppercase;
}
.page-body{
    background-color: #DEA057;
}
.page-footer{
    background-color: #CE9461;
}